ion-content{

    --ion-background-color:#ebebeb;
  }
  
  ion-toolbar{
  
    --ion-toolbar-background:#0b102c;
  }
  
  ion-toolbar{
  
    --ion-toolbar-color:#ffffff;
  }
  
  ion-item{
  
    --ion-item-color:#7187ff;
  }
  
  ion-toolbar{
    --min-height:110px!important;
  }
  
  ion-icon {
    font-size: 500px;
  }
  
  ion-icon {
    color: rgb(17, 17, 71);
  }