<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="log-out-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="https://duoc.modyocdn.com/uploads/4deb2d84-bd1c-4ad1-8205-37c6206dfb5e/original/duoc-white.svg" width="320px" style="display:inline-block" height="100px"/> <ion-icon name="reorder-three-outline" slot="end" fill="solid"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="--ion-background-color">
  <form>
    <ion-row>
      <ion-col>
        <ion-title class="ion-text-center" width="180" height="180"><ion-icon name="qr-code-outline" style="zoom:0.6;" ></ion-icon></ion-title>
        <ion-button (click)="showToast()" type="submit" color="danger" expand="block">Escanear</ion-button>
      </ion-col>
      <ion-text color="primary">
        <p>Aprete el boton escanear para activar la camara y de esa manera poder registrar la asistencia a partir del codigo QR</p>
      </ion-text>
    </ion-row>
  </form>
</ion-content>