<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="https://duoc.modyocdn.com/uploads/4deb2d84-bd1c-4ad1-8205-37c6206dfb5e/original/duoc-white.svg" width="320px" style="display:inline-block" height="100px"/> <ion-icon name="reorder-three-outline" slot="end" fill="solid"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="center">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-title class="ion-text-center"><ion-button (click)="showToast()" [routerLink]="['/home']"  type="submit" color="danger" expand="warning">Enviar</ion-button></ion-title>
      </ion-col>
    </ion-row>

    <ion-text color="danger">
      <p>Porfavor de el Email que uso para registrarse en Duoc UC</p>
      <p>Una vez puesto el Email se te enviara un correo de confirmacion y se te devolvera a la pagina del inicio</p>
    </ion-text>
  </form>
</ion-content>
