<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="https://duoc.modyocdn.com/uploads/4deb2d84-bd1c-4ad1-8205-37c6206dfb5e/original/duoc-white.svg" width="320px" style="display:inline-block" height="100px"/> <ion-icon name="reorder-three-outline" slot="end" fill="solid"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form ">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-title class="ion-text-center" width="180" height="180"><ion-icon name="people-circle-outline" style="zoom:0.6;" ></ion-icon></ion-title>
        
        <ion-title class="ion-text-center">
          <ion-item width="180">
            <ion-label position="center">Email</ion-label>
            <ion-input type="email" required></ion-input>
          </ion-item>
        </ion-title>

        <ion-title class="ion-text-center">
          <ion-item>
            <ion-label position="center" width="180">Contraseña</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <a (click)="showLoading()" [routerLink]="['/forgot-password']" class="forg">Olvidaste tu contraseña?</a>
        </ion-title>

        <ion-title class="ion-text-center"><ion-button (click)="showLoading()" [routerLink]="['/login']" color="warning">Ingresar</ion-button></ion-title>

        <ion-title class="ion-text-center"><ion-button (click)="showLoading()"[routerLink]="['/registration']" color="primary">Registrarse</ion-button></ion-title>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
